<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentWPF" version="0.8.0" targetFramework="net472" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.7" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.2.0" targetFramework="net472" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="6.1.1" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.17763.1000" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Notification.WPF" version="2.0.0.6" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Xceed.Products.Wpf.Toolkit.Full" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Aero" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Metro" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MetroAccent" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Office2007" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2010" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Windows10" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Metro" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Office2007" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Windows10" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Toolkit" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.LiveExplorer" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Metro" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Office2007" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Windows10" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.WMP11" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Metro" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Office2007" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Windows10" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Metro" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Office2007" version="4.1.21063.2360" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Windows10" version="4.1.21063.2360" targetFramework="net472" />
</packages>